<%- include side.html %>
<% var box=box||"" %>
<div class="main-body" id="J_content">
  Retrieving...
</div>

<script id="inbox_tpl" type="tpl/cache">
  <%if(tag=='inbox'){%>
  {{#messages}}
    <p>共 <strong>{{total}}</strong> 封<%if(!box){%>，其中 <a href="/mail/unseen">未读邮件</a> <strong>{{new}}</strong> 封<%}%> <!--<a href="javascript:;">Set all read</a>--></p>
  {{/messages}}
  <%}%>
  <table class="table table-bordered table-striped">
    <thead>
      <tr class="mail-list-header">
        <th>From</th>
        <th>Subject</th>
        <th style="min-width:140px;">Date</th>
      </tr>
    </thead>
    {{#each msgs}}
      <tr>
      {{#mail}}
        {{#headers}}
          <td>{{from}}</td>
          <td><a href="/mail/inbox/{{../../msg/uid}}">{{#each subject}}{{.}}{{/each}}</a></td>
          <td>{{dateFormat date}}</td>
        {{/headers}}
      </tr>
      {{/mail}}
    {{/each}}
    {{^msgs}}
      <tr>
        <td colspan="3">
          <div class="well">None</div>
        </td>
      </tr>
    {{/msgs}}
  </table>
  <%if(tag=='inbox'){%>
  <ul class="pager">
    <li class="previous">
      <a href="/mail/inbox/page/<%=parseInt(page)+1%>">&larr; <%=parseInt(page)+1%>weeks ago</a>
    </li>
    <%if(page!=1){%>
    <li class="next">
      <a href="/mail/inbox/page/<%=parseInt(page)-1%>"><%=parseInt(page)-1%>weeks ago &rarr;</a>
    </li>
    <%}%>
  </ul>
  <%}%>
</script>
<script src="/libs/moment/moment.js"></script>
<script src="/libs/moment/lang/zh-cn.js"></script>
<script>TAG='<%=tag||"inbox"%>';BOX='<%=box%>';</script>
<script src="/javascripts/inbox.js"></script>
